body{
    background-color: darkslategray;
    padding: 0;
    margin:0;
}
header{
    background-color: blueviolet;
    margin: 0px;
    padding:10px;
}
.sidebar{
     background-color: darkolivegreen;
     padding: 0px;
     margin:20px;
     width:240px;
     float: left;
     
}
    

.header img{
        border-radius: 200%;
        width:240px;
    }.floating{
        clear: both;
    }
.home{
    margin: 40px;
}  
.about{
    margin:40px;
}
.projects{
    margin: 40px;
}
.contact{
    margin: 40px;
}
footer{
    margin: 0px;
    background-color: gray
}
     
 
 
 
 
 


 
     
 