body{
    background-color: darkslategray;
    padding: 0;
    margin:0;
}
header{
    background-color: blueviolet;
    margin: 0px;
    padding:10px;
}
.sidebar{
     background-color: darkolivegreen;
     padding: 0px;
     margin:20px;
     float: left;
     width: 120px;
     }
    .header img{
        border-radius: 200%;
        width:240px;
    }
    .sidebar nav ul li{
        display:inline-block;
    }
    
    .floating{
        clear: both;
    }
  
     
 
 
 
 
 


 
     
 