body{
    background-image: url(../images/images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0;
    margin:0;
}
header{
    background-color: black;
    margin: 0px;
    padding:10px;


}
.sidebar{
     background-color: pink;
     padding: 0px;
     margin:20px;
     width:240px;
     float: left;
     
}
 .navbar ul li a {
    text-decoration: none;
}
    

.header img{
        border-radius: 200%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 240px;
        
        
    }
.header h1{
    text-align: center;
    color: skyblue;
}    
    .floating{
        clear: both;
    }
.home{
    margin: 200px;
    width: 400px;
}
.home h1{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}  
.about{
    margin:200px;
}
.projects{
    margin: 100px;
}
.contact{
    margin: 40px;
}
footer{
    margin: 0px;
    background-color: gray
}
     
 
 
 
 
 


 
     
 